.volume {
    text-align: center;
    margin-top: 0;
    display: block;
    height: 70px;
    background: rgba(255, 86, 76, 0.1);
    position: absolute;
    z-index: 97;
    width: 100%;
}

.volumeInner {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
}

.volume .volumeInner i {
    font-size: 24px;
    color: #ccc;
    padding: 0 10px;
}

.volume span{
    text-align: center;
    font-size: 24px;
    color: #ccc;
}

div.length input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
}

.volume .volumeInner input[type='range'] {
    height: 2px;
    width: 180px;
    background: #999;
    -webkit-appearance: none;
    border: none;
    outline: 0;
}

.volume input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 30px;
    background: #ffffff;
    cursor: pointer;
}

.volume a.close {
    position: absolute;
    color: #DDD;
    right: 14px;
    top: 5px;
    font-size: 18px;
}

div.length {
    width: 280px;
    margin: 20px auto;
    color: #999;
    font-size: 10px;
}

div.length label, div.length output {
    position: absolute;
    margin-top: -5px;
}

div.length output {
    margin-left: -26px;
}

div.length label {
    margin-left: 15px;
}

div.length input[type="range"] {
    width: 250px;
    margin-left: 14px;
    -webkit-appearance: none;
    background-color: #999;
    height:2px;
    border: none;
    outline: 0;
}

::-moz-selection { /* Code for Firefox */
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .0);
}

::selection {
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, .0);
}