.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer i {
    font-size: 14px;
    color: #ccc;
}

.footer .like label i:nth-child(2) {
    display: none;
}

.footer .like input:checked + label > i:first-child {
    display: none;
}

.footer .like input:checked + label > i:nth-child(2) {
    display: inline;
    color: red;
}

#play:checked ~ label.play:before {
    content: "\f04c";
    transition: all 0.15s linear;
}