.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer i {
    font-size: 14px;
    color: #ccc;
}

.footer .like label i:last-child {
    display: none;
}

.footer .like input:checked + label i:first-child {
    display: none;
}

.footer .like input:checked + label i:last-child {
    display: inline;
    color: red;
}

.footer .loop label i {
    font-size: 14px;
    color: #ccc;
}

.footer .loop input:checked + label > i:first-child {
    color: red;
}